<svg
  viewBox="0 0 620 650"
  xmlns="http://www.w3.org/2000/svg"
  role="img"
  aria-labelledby="dotted-india-title dotted-india-desc"
>
  <title id="dotted-india-title">Dotted map of India with a cycling route from Kashmir to Kanyakumari</title>
  <desc id="dotted-india-desc">An accurate India silhouette rendered as a field of dots, with a simplified north-to-south cycling route.</desc>

  <defs>
    <pattern id="india-dot-grid" width="16" height="16" patternUnits="userSpaceOnUse">
      <circle class="india-dot" cx="3" cy="3" r="1.7" />
    </pattern>
  </defs>

  <path
    class="india-dot-shape"
    fill="url(#india-dot-grid)"
    d="M217.1 66.9 L237.3 88.9 L235.4 104.2 L242.9 113.8 L242.2 123.4 L228.8 120.8 L234.0 141.5 L252.5 153.4 L278.5 166.5 L266.6 175.0 L259.4 192.5 L277.5 199.6 L295.2 208.8 L319.6 219.3 L345.4 221.8 L356.2 231.3 L370.7 233.1 L393.2 237.5 L408.8 237.2 L411.0 229.7 L408.5 217.8 L410.0 209.7 L421.4 205.8 L423.0 220.6 L423.4 224.3 L440.4 231.4 L452.2 228.5 L468.0 229.8 L483.3 229.2 L484.6 217.7 L477.0 211.7 L492.1 209.4 L509.2 195.4 L530.8 183.5 L546.5 188.1 L559.9 180.2 L568.7 191.8 L562.4 199.7 L582.6 202.5 L584.0 209.6 L577.4 213.1 L579.0 224.6 L565.6 221.2 L541.3 234.2 L541.9 244.9 L531.5 260.6 L530.6 269.8 L522.2 285.2 L507.5 281.0 L506.8 300.4 L502.6 306.7 L504.6 314.7 L495.3 319.2 L485.4 289.4 L480.3 289.5 L477.2 301.5 L466.9 291.7 L472.7 281.1 L481.1 280.0 L489.8 264.1 L478.9 260.9 L461.6 261.2 L443.7 258.6 L442.1 245.6 L433.1 244.7 L418.3 236.6 L411.6 249.3 L425.2 259.2 L413.4 266.2 L409.3 273.0 L420.8 278.0 L417.6 289.3 L424.1 303.4 L427.0 318.9 L424.4 325.7 L411.6 325.5 L388.5 329.4 L389.6 343.5 L379.6 354.6 L352.6 367.2 L331.6 389.3 L317.5 401.1 L298.8 413.4 L298.8 422.0 L289.4 426.6 L272.5 433.3 L263.8 434.3 L258.2 448.6 L262.1 473.0 L263.1 488.6 L255.1 506.4 L255.0 538.2 L245.3 539.1 L236.8 553.4 L242.5 559.6 L225.4 564.9 L219.1 577.7 L211.6 583.1 L193.8 565.6 L185.1 539.3 L177.9 520.4 L171.4 511.5 L161.4 493.5 L156.8 470.1 L153.5 458.4 L136.5 432.6 L128.7 396.3 L123.1 372.3 L123.1 349.6 L119.5 332.0 L92.2 343.2 L79.0 341.0 L54.5 318.3 L63.5 311.5 L58.0 304.1 L36.0 288.2 L48.5 275.7 L89.8 275.7 L86.0 259.6 L75.5 250.1 L73.4 235.7 L61.1 227.3 L81.7 207.6 L103.5 209.1 L123.1 189.4 L134.9 170.4 L153.1 151.6 L152.8 138.2 L168.8 127.3 L153.7 118.1 L147.1 105.4 L140.5 89.0 L149.7 80.9 L178.1 85.5 L199.0 82.7 L217.1 66.9 Z"
  />

  <path
    class="route-halo"
    d="M160.1 93.4 C160.3 97.6 153.8 101.7 161.3 118.8 C168.9 135.9 195.6 178.6 205.4 195.9 C215.2 213.3 217.3 215.4 220.3 222.9 C223.3 230.4 221.8 235.4 223.6 240.8 C225.4 246.2 228.1 239.5 230.9 255.3 C233.7 271.1 240.9 310.7 240.6 335.9 C240.3 361.1 234.0 380.9 229.3 406.5 C224.6 432.1 213.8 465.9 212.6 489.2 C211.4 512.5 222.6 531.0 222.4 546.3 C222.2 561.6 213.3 575.0 211.5 580.8"
  />
  <path
    class="route-path"
    d="M160.1 93.4 C160.3 97.6 153.8 101.7 161.3 118.8 C168.9 135.9 195.6 178.6 205.4 195.9 C215.2 213.3 217.3 215.4 220.3 222.9 C223.3 230.4 221.8 235.4 223.6 240.8 C225.4 246.2 228.1 239.5 230.9 255.3 C233.7 271.1 240.9 310.7 240.6 335.9 C240.3 361.1 234.0 380.9 229.3 406.5 C224.6 432.1 213.8 465.9 212.6 489.2 C211.4 512.5 222.6 531.0 222.4 546.3 C222.2 561.6 213.3 575.0 211.5 580.8"
  />

  <circle class="route-marker route-marker--start" cx="160.1" cy="93.4" r="7" />
  <circle class="route-marker route-marker--end" cx="211.5" cy="580.8" r="8" />
  <circle class="route-marker__core" cx="211.5" cy="580.8" r="3" />

  <text class="route-label__eyebrow" x="178" y="81">START</text>
  <text class="route-label__name" x="178" y="105">Kashmir</text>
  <text class="route-label__eyebrow" x="237" y="568">FINISH</text>
  <text class="route-label__name" x="237" y="592">Kanyakumari</text>
</svg>
